@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

:root{
    --mainBackground: #17141d;
    --mainColorLetter:rgb(245, 245, 245);
    --mainColorCircle:#ff8a00;
    --mainColorTags:#7a7a8c;
}

body{
    padding: 0;
    margin: 0;
    background-color: var(--mainBackground);
    color: var(--mainColorLetter);
    font-family: 'DM Mono', monospace;
    overflow-x: none;
    overflow-y: none;
}
.title{
    font-style: normal;
    font-weight:500;
    font-size: 3.0rem;
    text-align: center;
    color:var(--mainColorTags);
    text-decoration:uppercase;
}
.text{
    margin-top: 1rem;
    font-size: 13px; /* Tamaño de fuente del párrafo */
    line-height: 1.6;
    text-align: center; /* Centrar el texto */
    /* Importante */
    max-width: 800px; /* Ancho máximo del párrafo */
    margin: 0 auto; /* Centrar el párrafo horizontalmente */
}
.text1{
    font-style: normal;
    font-size: 15px;
    font-weight: 500;
}
.card-List{
    display: flex;
    padding: 4rem;
    margin-top: -2rem;
    /* Barra de desplazamiento */
}
/* Duda */
.card-List::-webkit-scrollbar-thumb{
    background: aqua;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);

}
.card-List::-webkit-scrollbar-track{
    background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
}

.card{
    display: flex;
    position: relative;
    flex-direction: column;
    height: 350px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;

    border-radius: 16px;
    background-color: var(--mainBackground);
    box-shadow: -1rem 0 3rem #000;
    
    transition: .2s;
}
.card:hover{
    transform: translateY(-1rem);
    box-shadow: -1rem 0 4rem #000;
}

/* No sé para que es */
.card:hover~.card {
    transform: translateX(130px);
}

.card:not(:first-child){
    margin-left: -130px;
}
.card-Author{
    position: relative;
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    margin: 1.5rem 0 0;
}

.author-avatar img{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* Importante */
    margin: 16px 10px;
}
.half-circle{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 48px;
    /* Importante */
    fill: none;
    stroke: var(--mainColorCircle);
    stroke-width: 8;
    stroke-linecap: round;
}
.author-Name-Prefix{
    font-style: normal;
    font-weight: 600;
    color: var(--mainColorTags);
}

.card-Header{
    margin-bottom: auto;
}

.card-Header{
    font-size: 14px;
    margin: 0 0 1rem;
    color: var(--mainColorTags);
}

.card-Header h2{
    font-size: 20px;
    margin:.25rem 0 auto;
    cursor: pointer;
}

.card-Header h2:hover{
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    background-clip: text;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tags{
    margin: 1rem 0 2rem;
    padding: .5rem 0 1rem;
    line-height: 2;
    margin-bottom: 0;
}
.tags a{
    font-style: normal;
    font-weight:700;
    font-size: .5rem;
    color:var(--mainColorTags);
    text-decoration:none;
    font-size: .66rem;
    border: 3px solid #28242f;
    border-radius: 3rem;
    padding: .2rem .85rem .25rem;
    position: relative;
}
.button-52{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    /* Importante */
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    background-color:#ffe54c;
    /* Importante */
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.button-52-link{
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Hereda el color del texto del botón */
    display: block; /* Hace que el botón sea un bloque */
}
.button-52:hover:after {
    top: 0px;
    left: 0px;
  }